button {
    cursor: pointer;
}
.color-red{
    color: red;
}
.color-default{
    color:#666666
}
button:disabled {
    cursor: not-allowed;
    border: 2px solid white;
    color: #c8c8c8;
    background: #cde1d9;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
}

.logo {
    margin: 20px auto 40px;
    width: 200px;
}

.logo img {
    width: 100%;
}

.pokedex {
    width: 1080px;
    height: 510px;
    background-image: linear-gradient(#f60001,
            #f60001 48%,
            #000 0,
            #000 52%,
            #fff 0,
            #fff 100%);
    padding: 10px;
}

.pokedex,
.pokedex .pokedex-content {
    border-radius: 10px;
}

.pokedex-content {
    background-color: #f5efdc;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 65% 35%;
}
.pokedex-about-content {
    background-color: #f5efdc;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
}

.poke-list {
    position: relative;
    padding: 15px;
    border-right: 3px solid #dcdcc3;
}

.pokedex-content .poke-list:after {
    content: "";
    display: block;
    border-right: 3px solid #e8e6cb;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.poke-detail {
    position: relative;
    border-left: 3px solid #dcdcc3;
    padding: 15px;
    background-color: #e3e3cd;
}
.poke-detail-scroll{
    height: 323px;
    overflow-x: auto;
}

.pokedex-content .poke-detail:before {
    content: "";
    display: block;
    border-left: 3px solid #e8e6cb;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.poke-filter {
    margin-bottom: 10px;
}

.inputs {
    padding: 10px;
    border-radius: 15px;
    font-family: zig;
    color: white;
    box-shadow: 0 0 20px #003300 inset;
    -webkit-box-shadow: 0 0 20px #003300 inset;
    -moz-box-shadow: 0 0 20px #003300 inset;
    -o-box-shadow: 0 0 20px #003300 inset;
}

.input-filter {
    width: 235px;
}

.search,
.search-filter {
    background-color: #30da0c;
}

::placeholder {
    color: white;
    opacity: 0.5;
}

.search-filter {
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    padding-bottom: 12.4px;
}

.btn-search {
    background-color: #ffff00;
    padding: 8px;
}

.poke-filter-list {
    display: grid;
    grid-template-columns: repeat(4, 23.8%);
    grid-gap: 10px;
    margin-bottom: 10px;
    overflow-x: auto;
    height: 436px;
    grid-auto-rows: 89px;
}

.poke-detail-scroll::-webkit-scrollbar-track, .poke-filter-list::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.poke-detail-scroll::-webkit-scrollbar, .poke-filter-list::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.poke-detail-scroll::-webkit-scrollbar-thumb, .poke-filter-list::-webkit-scrollbar-thumb {
    background-color: #F90;
    background-image: -webkit-linear-gradient(45deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent)
}

.item {
    height: 65px;
    padding: 10px;
    background-color: white;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    cursor: pointer;
    text-align: center;
}

.item-selected {
    background: salmon;
    border-style: outset;
}

.item:hover {
    border-style: outset;
}

.item img {
    height: 65px;
}

.poke-pagination {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.btn-previous {
    width: 100px;
    justify-self: start;
}

.btn-next {
    width: 100px;
    justify-self: end;
}
.poke-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    margin-bottom: 10px;
}

.poke-detail-title {
    border-bottom: 3px solid red;
    margin-bottom: 10px;
    padding: 10px 0;
}

.poke-image {
    border: 3px solid #ffc150;
    border-radius: 10px;
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    background-image: repeating-linear-gradient(white,
            #e4e4ff 5%,
            white 10%);
}

.poke-image::before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 7px;
    border: 5px solid #fff8b0;
}

.poke-image::after {
    content: " ";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 5px;
    border: 3px solid #8d8de9;
}

.poke-type-sec {
    margin-bottom: 10px;
}

.poke-type {
    font-size: 12px;
    margin-right: 5px;
    padding: 5px;
    color: white;
    background: rosybrown;
}

.poke-type-normal {
    background: #a8a878;
}

.poke-type-fighting {
    background: #c03028;
}

.poke-type-flying {
    background: #a890f0;
}

.poke-type-poison {
    background: #a040a0;
}

.poke-type-ground {
    background: #e0c068;
}

.poke-type-rock {
    background: #b8a038;
}

.poke-type-bug {
    background: #a8b820;
}

.poke-type-ghost {
    background: #705898;
}

.poke-type-steel {
    background: #B8B8D0;
}

.poke-type-fire {
    background: #f08030;
}

.poke-type-water {
    background: #6890f0;
}

.poke-type-grass {
    background: #78c850;
}

.poke-type-electric {
    background: #f8d030;
}

.poke-type-psychic {
    background: #f85888;
}

.poke-type-ice {
    background: #98d8d8;
}

.poke-type-dragon {
    background: #7038f8;
}

.poke-type-dark {
    background: #705848;
}

.poke-type-fairy {
    background: #ee99ac;
}

.poke-info-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

.poke-info-stats .poke-stat {
    display: grid;
    font-size: 14px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
}
.poke-info-stats .poke-stat .label{
    color: red;
}
.poke-stat .value{
    text-align: right;
}
.poke-sub-title{
    border-bottom: 2px solid #ffad33;
    margin-bottom: 10px;
    padding: 10px 0;
}
.poke-profile-stat .poke-stat {
    display: grid;
    font-size: 14px;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 10px;
}
.poke-profile-stat .poke-stat .label {
    color: #ffad33;
}

.poke-profile-stat .poke-stat .value span:not(:last-child)::after{
    content: "|";
    color: #ffad33;
}

.poke-move-heading{
    border-bottom: 2px solid #78c850;
    margin-bottom: 10px;
    padding: 10px 0;
}
.poke-move-title{
    color:#78c850;
    margin-bottom: 10px
}

.poke-move-stats .poke-stat {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
}
.poke-move-stats .poke-stat .label{
    color: #78c850;
}

.accordion {
    font: inherit;
    width: 100%;
    text-align: left;
    padding: 5px 10px;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    background-color: #c7c89e;
    transition: background-color 0.2s linear;
}

.accordion:hover,
.accordion.is-open {
    background-color: #afb794;
}

.accordion-content {
    font-size: 12px;
    background-color: white;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    padding: 0 10px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-in-out;
    margin-bottom: 10px;
}
.accordion-content p{
    margin: 10px 0;
}